<!DOCTYPE html>
<html lang="zh-cn" class="ie9 lte9">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>Admin</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/admin.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.css" />
		<link rel="stylesheet" href="__CSS__/bootstrapValidator.min.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/flat-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/jquery.nouislider.css">
		<!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<script src="__JAVASCRIPT__/jquery.min.js"></script>
		<script src="__JAVASCRIPT__/bootstrap.min.js"></script>
		<script src="__JAVASCRIPT__/bootstrapValidator.min.js"></script>
		<script src="__JAVASCRIPT__/zh_CN.js"></script>
		<script src="__JAVASCRIPT__/admin.js"></script>
		<script src="__JAVASCRIPT__/../layui/layer.js"></script>
		<script>
			$(function() {
				$(".meun-item").click(function() {
					$(".meun-item").removeClass("meun-item-active");
					$(this).addClass("meun-item-active");

				});
				$(".toggle-btn").click(function() {
					$("#leftMeun").toggleClass("show");
					$("#rightContent").toggleClass("pd0px");
				})
			})
		</script>
	</head>

	<body>
		<div id="wrap">
			<!-- 左侧菜单栏目块 -->
			<div class="leftMeun" id="leftMeun">
				<div id="logoDiv">
					<p id="logoP">
						<img id="logo" alt="Admin" src="__IMAGE__/logo.png">
						<span>Admin</span>
					</p>
				</div>
				<div class="meun-title">账户管理</div>
				<div class="meun-item meun-item-active" href="#sour" aria-controls="sour" role="tab" data-toggle="tab">
					<img src="__IMAGE__/icon_source.png">资源管理</div>
				<!-- <div class="meun-item" href="#char" aria-controls="char" role="tab" data-toggle="tab">
					<img src="__IMAGE__/icon_chara_grey.png">权限管理</div>
				<div class="meun-item" href="#user" aria-controls="user" role="tab" data-toggle="tab">
					<img src="__IMAGE__/icon_user_grey.png">用户管理</div>
				<div class="meun-item" href="#chan" aria-controls="chan" role="tab" data-toggle="tab">
					<img src="__IMAGE__/icon_change_grey.png">修改密码</div>
				<div class="meun-title">地区管理</div>
				<div class="meun-item" href="#scho" aria-controls="scho" role="tab" data-toggle="tab">
					<img src="__IMAGE__/icon_house_grey.png">地区管理</div>
				<div class="meun-item" href="#regu" aria-controls="regu" role="tab" data-toggle="tab">
					<img src="__IMAGE__/icon_rule_grey.png">规则管理</div>
				<div class="meun-item" href="#stud" aria-controls="stud" role="tab" data-toggle="tab">
					<img src="__IMAGE__/icon_card_grey.png">人员信息</div>
				<div class="meun-item" href="#sitt" aria-controls="sitt" role="tab" data-toggle="tab">
					<img src="__IMAGE__/icon_char_grey.png">座位管理</div> -->
			</div>
			<!-- 右侧具体内容栏目 -->
			<div id="rightContent">
				<a class="toggle-btn" id="nimei">
					<i class="glyphicon glyphicon-align-justify"></i>
				</a>
				<div class="tab-content">
					<!-- 资源管理模块 -->
					<div role="tabpanel" class="tab-pane active" id="sour">
						<div class="check-div form-inline">
							<button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addSource">添加资源</button>
						</div>
						<div class="data-div">
							<div class="row tableHeader">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">图号</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">锻造比</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">试棒方向</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">钻φ**mm</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">锻造尺寸图路径</p>
								</div>
							</div>
							<div class="tablebody">
							</div>
						</div>
						<!--弹出窗口 添加资源-->
						<div class="modal fade" id="addSource" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">添加资源</h4>
									</div>
									<iframe name="myiframe" width=0 height=0 scrolling="no" hidden="hidden"></iframe>
									<div class="modal-body" id="editModal">
										<div class="container-fluid">
											<form action="http://localhost/autoppm/public/index/Index/adminCommonTableAdd.html" method="post" enctype="multipart/form-data" role="form" id="form_test"  target="myiframe" class="form-horizontal">
												<div class="form-group ">
													<label for="sFigure" class="col-xs-3 control-label">图号：</label>
													<div class="col-xs-8 ">
														<input name="sFigure" type="text" class="form-control input-sm duiqi" id="sFigure">
													</div>
												</div>
												<div class="form-group">
													<label for="sForging" class="col-xs-3 control-label">锻造比：</label>
													<div class="col-xs-8 ">
														<input name="sForging" type="text" class="form-control input-sm duiqi" id="sForging">
													</div>
												</div>
												<div class="form-group">
													<label for="sCoupon" class="col-xs-3 control-label">试棒方向：</label>
													<div class="col-xs-8">
														<input name="sCoupon" type="text" class="form-control input-sm duiqi" id="sCoupon">
													</div>
												</div>
												<div class="form-group">
													<label for="sDrill" class="col-xs-3 control-label">钻φ**mm：</label>
													<div class="col-xs-8">
														<input name="sDrill" type="text" class="form-control input-sm duiqi" id="sDrill">
													</div>
												</div>
												<div class="form-group">
													<label for="sFile" class="col-xs-3 control-label" style="width: 26%;">锻造尺寸图：</label>
													<div class="col-xs-8">
														<input name="sFile" type="file" class="form_file" id="sFile">
													</div>
												</div>
												<div class="modal-footer">
													<button type="reset" class="btn btn-xs btn-xs btn-default">重 置</button>
													<button type="submit" id="btn_s1" class="btn btn-xs btn-xs btn-primary">确 定</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--弹出窗口 修改资源-->
						<div class="modal fade" id="changeSource" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" id="finishaddid" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">修改资源</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form action="http://localhost/autoppm/public/index/Index/adminUpdateOneRowData.html" method="post" enctype="multipart/form-data" role="form" id="form_test"  target="myiframe" class="form-horizontal">
												<div class="form-group ">
													<label for="mFigure" class="col-xs-3 control-label">图号：</label>
													<div class="col-xs-8 ">
														<input name="mFigure" type="text" class="form-control input-sm duiqi" id="mFigure">
													</div>
												</div>
												<div class="form-group">
													<label for="mForging" class="col-xs-3 control-label">锻造比：</label>
													<div class="col-xs-8 ">
														<input name="mForging" type="text" class="form-control input-sm duiqi" id="mForging" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="mCoupon" class="col-xs-3 control-label">试棒方向：</label>
													<div class="col-xs-8">
														<input name="mCoupon" type="text" class="form-control input-sm duiqi" id="mCoupon" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="mDrill" class="col-xs-3 control-label">钻φ**mm：</label>
													<div class="col-xs-8">
														<input name="mDrill" type="text" class="form-control input-sm duiqi" id="mDrill" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="mFile" class="col-xs-3 control-label" style="width: 26%;">锻造尺寸图：</label>
													<div class="col-xs-8">
														<input name="mFile" type="file" class="form_file" id="mFile">
													</div>
												</div>
												<div class="modal-footer">
													<button type="reset" class="btn btn-xs btn-xs btn-default">重 置</button>
													<button type="submit" id="btn_s2" class="btn btn-xs btn-xs btn-primary">确 定</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!--弹出删除资源窗口-->
						<div class="modal fade" id="deleteSource" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											确定要删除该资源？&nbsp;删除后不可恢复！
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" id="confirmdelid" data-dismiss="modal" class="btn btn-xs btn-primary">确 定</button>
										<button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">取 消</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
					</div>
					<!-- 权限管理模块 -->
					<div role="tabpanel" class="tab-pane" id="char">

						<div class="check-div">
							<button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addChar">添加权限</button>
						</div>
						<div class="data-div">
							<div class="row tableHeader">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">图号</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">锻造比</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">试棒方向</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">钻φ**mm</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">锻造尺寸图路径</p>
								</div>
							</div>
							<div class="tablebody">
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<p class="table_p">222.555-146</p>
									</div>
									<div id="topAD" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSystem" aria-expanded="true" aria-controls="collapseOne">
										<p class="table_p">锻造比</p>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<p class="table_p">锻造比</p>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<p class="table_p">锻造比</p>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<p class="table_p">锻造比</p>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#changeChar">修改</button>
										<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteChar">删除</button>
									</div>
								</div>
								<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<p class="table_p">222.555-146</p>
										</div>
										<div id="topAD" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSystem" aria-expanded="true" aria-controls="collapseOne">
											<p class="table_p">锻造比</p>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<p class="table_p">锻造比</p>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<p class="table_p">锻造比</p>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<p class="table_p">锻造比</p>
										</div>
										<div class="col-xs-2">
											<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#changeChar">修改</button>
											<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteChar">删除</button>
										</div>
								</div>
							</div>
						</div>
						<!--页码块-->
						<footer class="footer">
							<ul class="pagination">
								<li>
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
									页
								</li>
								<li class="gray">
									共20页
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-left">
								</i>
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-right">
								</i>
								</li>
							</ul>
						</footer>
						<!--增加权限弹出窗口-->
						<div class="modal fade" id="addChar" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">添加权限</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form class="form-horizontal">
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">权限名：</label>
													<div class="col-xs-6 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sLink" class="col-xs-3 control-label">描述：</label>
													<div class="col-xs-6 ">
														<textarea class="form-control input-sm duiqi"></textarea>
													</div>
												</div>
												<div class="form-group">
													<label for="sOrd" class="col-xs-3 control-label">系统资源：</label>
													<div class="col-xs-6">
														<input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
													</div>
												</div>

											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-green">确 定</button>
									</div>
								</div>
							</div>
						</div>
						<!--修改权限弹出窗口-->
						<div class="modal fade" id="changeChar" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">修改权限</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form class="form-horizontal">
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">权限名：</label>
													<div class="col-xs-6 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sLink" class="col-xs-3 control-label">描述：</label>
													<div class="col-xs-6 ">
														<textarea class="form-control input-sm duiqi"></textarea>
													</div>
												</div>
												<div class="form-group">
													<label for="sOrd" class="col-xs-3 control-label">系统资源：</label>
													<div class="col-xs-6">
														<input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
													</div>
												</div>

											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-green">确 定</button>
									</div>
								</div>
							</div>
						</div>
						<!--弹出删除权限警告窗口-->
						<div class="modal fade" id="deleteChar" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											确定要删除该权限？删除后不可恢复！
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-green">确 定</button>
										<button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">取 消</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--用户管理模块-->
					<div role="tabpanel" class="tab-pane" id="user">
						<div class="check-div form-inline">
							<div class="col-xs-3">
								<button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addUser">添加用户 </button>
							</div>
							<div class="col-xs-4">
								<input type="text" class="form-control input-sm" placeholder="输入文字搜索">
								<button class="btn btn-white btn-xs ">查 询 </button>
							</div>
							<div class="col-lg-3 col-lg-offset-2 col-xs-4" style=" padding-right: 40px;text-align: right;">
								<label for="paixu">排序:&nbsp;</label>
								<select class=" form-control">
									<option>图号</option>
									<option>图号</option>
									<option>图号</option>
									<option>图号</option>
									<option>图号</option>
									<option>图号</option>
								</select>
							</div>
						</div>
						<div class="data-div">
							<div class="row tableHeader">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">图号</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">锻造比</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">试棒方向</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">钻φ**mm</p>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<p class="table_p">锻造尺寸图路径</p>
								</div>
							</div>
							<div class="tablebody">
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<p class="table_p">222.555-146</p>
									</div>
									<div id="topAD" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSystem" aria-expanded="true" aria-controls="collapseOne">
										<p class="table_p">锻造比</p>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<p class="table_p">锻造比</p>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<p class="table_p">锻造比</p>
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<p class="table_p">锻造比</p>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#reviseUser">修改</button>
										<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteUser">删除</button>
									</div>
								</div>
								<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<p class="table_p">222.555-146</p>
										</div>
										<div id="topAD" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSystem" aria-expanded="true" aria-controls="collapseOne">
											<p class="table_p">锻造比</p>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<p class="table_p">锻造比</p>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<p class="table_p">锻造比</p>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<p class="table_p">锻造比</p>
										</div>
										<div class="col-xs-2">
											<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#reviseUser">修改</button>
											<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteUser">删除</button>
										</div>
								</div>
							</div>
						</div>
						<!--页码块-->
						<footer class="footer">
							<ul class="pagination">
								<li>
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
									页
								</li>
								<li class="gray">
									共20页
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-left">
								</i>
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-right">
								</i>
								</li>
							</ul>
						</footer>
						<!--弹出添加用户窗口-->
						<div class="modal fade" id="addUser" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">添加用户</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form class="form-horizontal">
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">用户名：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sLink" class="col-xs-3 control-label">真实姓名：</label>
													<div class="col-xs-8 ">
														<input type="" class="form-control input-sm duiqi" id="sLink" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sOrd" class="col-xs-3 control-label">电子邮箱：</label>
													<div class="col-xs-8">
														<input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sKnot" class="col-xs-3 control-label">电话：</label>
													<div class="col-xs-8">
														<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sKnot" class="col-xs-3 control-label">地区：</label>
													<div class="col-xs-8">
														<select class=" form-control select-duiqi">
															<option value="">国际关系地区</option>
															<option value="">北京大学</option>
															<option value="">天津大学</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label for="sKnot" class="col-xs-3 control-label">权限：</label>
													<div class="col-xs-8">
														<select class=" form-control select-duiqi">
															<option value="">管理员</option>
															<option value="">普通用户</option>
															<option value="">游客</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label for="situation" class="col-xs-3 control-label">状态：</label>
													<div class="col-xs-8">
														<label class="control-label" for="anniu">
														<input type="radio" name="situation" id="normal">正常</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<label class="control-label" for="meun">
														<input type="radio" name="situation" id="forbid"> 禁用</label>
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-green">确 定</button>
									</div>
								</div>
							</div>
						</div>
						<!--弹出修改用户窗口-->
						<div class="modal fade" id="reviseUser" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">修改用户</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form class="form-horizontal">
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">用户名：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sLink" class="col-xs-3 control-label">真实姓名：</label>
													<div class="col-xs-8 ">
														<input type="" class="form-control input-sm duiqi" id="sLink" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sOrd" class="col-xs-3 control-label">电子邮箱：</label>
													<div class="col-xs-8">
														<input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sKnot" class="col-xs-3 control-label">电话：</label>
													<div class="col-xs-8">
														<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sKnot" class="col-xs-3 control-label">地区：</label>
													<div class="col-xs-8">
														<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sKnot" class="col-xs-3 control-label">权限：</label>
													<div class="col-xs-8">
														<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="situation" class="col-xs-3 control-label">状态：</label>
													<div class="col-xs-8">
														<label class="control-label" for="anniu">
														<input type="radio" name="situation" id="normal">正常</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<label class="control-label" for="meun">
														<input type="radio" name="situation" id="forbid"> 禁用</label>
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-green">确 定</button>
									</div>
								</div>
							</div>
						</div>
						<!--弹出删除用户警告窗口-->
						<div class="modal fade" id="deleteUser" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											确定要删除该用户？删除后不可恢复！
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-green">确 定</button>
										<button type="button" class="btn  btn-xs btn-danger" data-dismiss="modal">取 消</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 修改密码模块 -->
					<div role="tabpanel" class="tab-pane" id="chan">
						<div class="check-div">
							原始密码为12312313
						</div>
						<div style="padding: 50px 0;margin-top: 50px;background-color: #fff; text-align: right;width: 420px;margin: 50px auto;">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">原密码：</label>
									<div class="col-xs-5">
										<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="" style="margin-top: 7px;">
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">新密码：</label>
									<div class="col-xs-5">
										<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="" style="margin-top: 7px;">
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">重复密码：</label>
									<div class="col-xs-5">
										<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="" style="margin-top: 7px;">
									</div>
								</div>
								<div class="form-group text-right">
									<div class="col-xs-offset-4 col-xs-5" style="margin-left: 169px;">
										<button type="reset" class="btn btn-xs btn-white">取 消</button>
										<button type="submit" class="btn btn-xs btn-green">确 定</button>
									</div>
								</div>
							</form>
						</div>

					</div>
					<!--地区管理模块-->
					<div role="tabpanel" class="tab-pane" id="scho">

						<div class="check-div form-inline">
							<div class="col-xs-3">
								<button class="btn btn-yellow btn-xs" data-toggle="modal" data-target="#addSchool">添加地区 </button>
							</div>
							<div class="col-lg-4 col-xs-5">
								<input type="text" class=" form-control input-sm " placeholder="输入文字搜索">
								<button class="btn btn-white btn-xs ">查 询 </button>
							</div>
							<div class="col-lg-3 col-lg-offset-1 col-xs-3" style="padding-right: 40px;text-align: right;float: right;">
								<label for="paixu">排序:&nbsp;</label>
								<select class="form-control">
									<option>地区</option>
									<option>排名</option>
								</select>
							</div>
						</div>
						<div class="data-div">
							<div class="row tableHeader">
								<div class="col-xs-1 ">
									编码
								</div>
								<div class="col-xs-2 ">
									地区
								</div>
								<div class="col-xs-1">
									经度
								</div>
								<div class="col-xs-1">
									维度
								</div>
								<div class="col-xs-2">
									建筑信息
								</div>
								<div class="col-xs-2">
									人员列表
								</div>
								<div class="col-xs-2">
									操作
								</div>
							</div>
							<div class="tablebody">

								<div class="row">
									<div class="col-xs-1 ">
										1
									</div>
									<div class="col-xs-2">
										国际关系地区
									</div>
									<div class="col-xs-1">
										45.0
									</div>
									<div class="col-xs-1">
										95.90
									</div>
									<div class="col-xs-2">
										<a class="linkCcc">查看</a>
									</div>
									<div class="col-xs-2">
										<a class="linkCcc">查看</a>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#reviseSchool">修改</button>
										<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteSchool">删除</button>
									</div>
								</div>

							</div>

						</div>
						<!--页码块-->
						<footer class="footer">
							<ul class="pagination">
								<li>
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
									页
								</li>
								<li class="gray">
									共20页
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-left">
								</i>
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-right">
								</i>
								</li>
							</ul>
						</footer>

						<!--弹出添加用户窗口-->
						<div class="modal fade" id="addSchool" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">添加地区</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form class="form-horizontal">
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">地区名称：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">经度：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sLink" class="col-xs-3 control-label">纬度：</label>
													<div class="col-xs-8 ">
														<input type="" class="form-control input-sm duiqi" id="sLink" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sOrd" class="col-xs-3 control-label">简称：</label>
													<div class="col-xs-8">
														<input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-green">保 存</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->

						<!--弹出修改用户窗口-->
						<div class="modal fade" id="reviseSchool" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">修改地区</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form class="form-horizontal">
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">地区名称：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">经度：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sLink" class="col-xs-3 control-label">纬度：</label>
													<div class="col-xs-8 ">
														<input type="" class="form-control input-sm duiqi" id="sLink" placeholder="">
													</div>
												</div>
												<div class="form-group">
													<label for="sOrd" class="col-xs-3 control-label">简称：</label>
													<div class="col-xs-8">
														<input type="" class="form-control input-sm duiqi" id="sOrd" placeholder="">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-green">保 存</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->

						<!--弹出删除用户警告窗口-->
						<div class="modal fade" id="deleteSchool" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											确定要删除该地区？删除后不可恢复！
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-danger">保 存</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->

					</div>
					<!--规则管理模块-->
					<div role="tabpanel" class="tab-pane" id="regu" style="padding-top: 50px;">
						<div class="data-div">
							<div class="tablebody col-lg-10 col-lg-offset-1">
								<div class="row">
									<div class="col-xs-3" style="padding-right: 0;">签到超时时间</div>
									<div class="col-xs-7 expand-col">
										<div class="slider-minmax1">
										</div>
										<div class="row top100">
											<span class="left">0</span>
											<span class="right">30</span>
										</div>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-xs btn-white">默认值</button>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3" style="padding-right: 0;">抢座超时时间</div>
									<div class="col-xs-7 expand-col">
										<div class="slider-minmax2">
										</div>
										<div class="row top100">
											<span class="left">0</span>
											<span class="right">15</span>
										</div>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-xs btn-white">默认值</button>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-3" style="padding-right: 0;">临时离开超时时间</div>
									<div class="col-xs-7 expand-col">
										<div class="slider-minmax3">
										</div>
										<div class="row top100">
											<span class="left">0</span>
											<span class="right">60</span>
										</div>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-xs btn-white">默认值</button>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3" style="padding-right: 0;">违约次数冻结上限</div>
									<div class="col-xs-7 expand-col">
										<div class="slider-minmax4">
										</div>
										<div class="row top100">
											<span class="left">0</span>
											<span class="right">100</span>
										</div>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-xs btn-white">默认值</button>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3" style="padding-right: 0;">可预约天数</div>
									<div class="col-xs-7 expand-col">
										<div class="slider-minmax5">
										</div>
										<div class="row top100">
											<span class="left">0</span>
											<span class="right">7</span>
										</div>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-xs btn-white">默认值</button>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-3" style="padding-right: 0;">最大未完成预约数</div>
									<div class="col-xs-7 expand-col">
										<div class="slider-minmax6">
										</div>
										<div class="row top100">
											<span class="left">0</span>
											<span class="right">10</span>
										</div>
									</div>
									<div class="col-xs-2">
										<button class="btn btn-xs btn-white">默认值</button>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
									<button type="button" class="btn btn-xs btn-green">保 存</button>
								</div>
							</div>
						</div>
					</div>
					<!--时间段管理模块-->
					<div role="tabpanel" class="tab-pane" id="time">
						<div class="check-div form-inline">
							<span href="#sitt" aria-controls="sitt" role="tab" data-toggle="tab" style="cursor: pointer;">
							<span class="glyphicon glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;返回上一页</span>

							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button class="btn btn-yellow btn-xs " data-toggle="modal" data-target="#addTime">添加时间段 </button>

						</div>
						<div class="data-div">
							<div class="row tableHeader">
								<div class="col-xs-3 ">
									编码
								</div>
								<div class="col-xs-3">
									开始
								</div>
								<div class="col-xs-3">
									结束
								</div>

								<div class="col-xs-3">
									操作
								</div>
							</div>
							<div class="tablebody">

								<div class="row">
									<div class="col-xs-3 ">
										6426398978
									</div>
									<div class="col-xs-3">
										10:10
									</div>
									<div class="col-xs-3">
										19:30
									</div>
									<div class="col-xs-3">
										<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#changeTime">修改</button>
										<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteTime">删除</button>
									</div>
								</div>

							</div>

						</div>
						<!--页码块-->
						<footer class="footer">
							<ul class="pagination">
								<li>
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
									页
								</li>
								<li class="gray">
									共20页
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-left">
								</i>
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-right">
								</i>
								</li>
							</ul>
						</footer>

						<!--弹出增加时间段窗口-->
						<div class="modal fade" id="addTime" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">时间段设置</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form class="form-horizontal">
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">开始时间：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">结束时间：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm" id="sName" placeholder="">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-green">保 存</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->

						<!--修改增加时间段窗口-->
						<div class="modal fade" id="changeTime" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">修改时间段</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<form class="form-horizontal">
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">开始时间：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
												<div class="form-group ">
													<label for="sName" class="col-xs-3 control-label">结束时间：</label>
													<div class="col-xs-8 ">
														<input type="email" class="form-control input-sm duiqi" id="sName" placeholder="">
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-green btn-xs">保 存</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->
						<!--弹出删除时间段警告窗口-->
						<div class="modal fade" id="deleteTime" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											确定要删除该时间段？
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-danger btn-xs">保 存</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->

					</div>
					<!--人员管理模块-->
					<div role="tabpanel" class="tab-pane" id="stud">
						<div class="check-div form-inline">
							<div class="col-xs-5">
								<input type="text" class=" form-control input-sm" placeholder="输入文字搜索" style="	!height: 40px!important;">
								<button class="btn btn-white btn-xs ">查 询 </button>
							</div>
							<div class="col-xs-4 col-lg-4  col-md-5" style="padding-right: 40px;text-align: right;float: right;">
								<label for="daoru">导入人员信息表:&nbsp;</label>
								<button class="btn btn-white btn-xs " id="daoru">选取文件 </button>
								<button class="btn btn-white btn-xs ">导入 </button>
							</div>

						</div>
						<div class="data-div">
							<div class="row tableHeader">
								<div class="col-xs-2 ">
									学号
								</div>
								<div class="col-xs-1 ">
									姓名
								</div>
								<div class="col-xs-2">
									院系
								</div>
								<div class="col-xs-2">
									年年
								</div>
								<div class="col-xs-2 ">
									学习时长
								</div>
								<div class="col-xs-2">
									违约次数
								</div>
								<div class="col-xs-1">
									操作
								</div>
							</div>
							<div class="tablebody">

								<div class="row">
									<div class="col-xs-2 ">
										6426398978
									</div>
									<div class="col-xs-1">
										邓超
									</div>
									<div class="col-xs-2">
										计算机地区
									</div>
									<div class="col-xs-2">
										2013年
									</div>
									<div class="col-xs-2">
										15
									</div>
									<div class="col-xs-2">
										2
									</div>
									<div class="col-xs-1">
										<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteObey">清除违约</button>
									</div>
								</div>

							</div>

						</div>
						<!--页码块-->
						<footer class="footer">
							<ul class="pagination">
								<li>
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
									页
								</li>
								<li class="gray">
									共20页
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-left">
								</i>
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-right">
								</i>
								</li>
							</ul>
						</footer>

						<!--弹出删除违约记录警告窗口-->

						<div class="modal fade" id="deleteObey" role="dialog" aria-labelledby="gridSystemModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
										<h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											确定要删除该违约记录？删除后不可恢复！
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-xs btn-white" data-dismiss="modal">取 消</button>
										<button type="button" class="btn btn-xs btn-danger">保 存</button>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->

					</div>
				</div>
			</div>
		</div>
		<script src="__JAVASCRIPT__/jquery.nouislider.js"></script>
		<!-- this page specific inline scripts -->
		<script>
			//min/max slider
			function huadong(my, unit, def, max) {
				$(my).noUiSlider({
					range: [0, max],
					start: [def],
					handles: 1,
					connect: 'upper',
					slide: function() {
						var val = Math.floor($(this).val());
						$(this).find(".noUi-handle").text(
							val + unit
						);
						console.log($(this).find(".noUi-handle").parent().parent().html());
					},
					set: function() {
						var val = Math.floor($(this).val());
						$(this).find(".noUi-handle").text(
							val + unit
						);
					}
				});
				$(my).val(def, true);
			}
			huadong('.slider-minmax1', "分钟", "5", 30);
			huadong('.slider-minmax2', "分钟", "6", 15);
			huadong('.slider-minmax3', "分钟", "10", 60);
			huadong('.slider-minmax4', "次", "2", 10);
			huadong('.slider-minmax5', "天", "3", 7);
			huadong('.slider-minmax6', "天", "8", 10);
		</script>
	</body>

</html>